<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Restorani</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="https://enastava.ftninformatika.com">
              <img src="/images/logo.svg" />
            </a>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/index.html">Početna</a>
              <a class="nav-item nav-link active" href="/restorani">Restorani</a>
              <a class="nav-item nav-link" href="/artikli">Artikli</a>
              <a class="nav-item nav-link" href="/porudzbine">Porudžbine</a>
              <a class="nav-item nav-link" href="/kategorije">Kategorije</a>
              <a class="nav-item nav-link" href="/korisnici">Korisnici</a>
            </div>
          </nav>
          <nav class="navbar navbar-expand navbar-dark bg-secondary">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/restorani">Prikaz svih</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Redni broj</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Artikli</th>
                <th>Cena dostave</th>
                <th>Adresa</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr th:each="itRestoran, status : ${restorani}">
                <td class="text-end" th:text="${status.count}">1</td>
                <td>
                  <a th:href="|/restorani/prikaz?id=${itRestoran.id}|" th:text="${itRestoran.naziv}">Restoran 1</a>
                </td>
                <td>
                  <ul>
                    <li th:each="itKategorija, status : ${itRestoran.kategorije}">
                      <a th:href="|/kategorije/prikaz?id=${itKategorija.id}|" th:text="${itKategorija.naziv}">Burgeri</a>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li th:each="itArtikal, status : ${itRestoran.artikli}">
                      <a th:href="|/artikli/prikaz?id=${itArtikal.id}|" th:text="${itArtikal.naziv}">Dupli burger</a>
                    </li>
                  </ul>
                </td>
                <td class="text-end" th:text="${itRestoran.cenaDostave}">150.0</td>
                <td th:text="${itRestoran.adresa.ulica + ' ' + itRestoran.adresa.broj + ', ' + itRestoran.adresa.grad + ' ' + itRestoran.adresa.postanskiBroj}">Bulevar Oslobodjenja 119, Novi Sad 21000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
